body
{
	margin: 0px;
	padding: 0px;
	background: $white;
	font-family: $body-font;
	font-size: 16px;
	line-height: 20px;

	::-webkit-scrollbar
	{
		display: none;
	}

	h1.page-heading
	{
		margin-top: 40px;
		margin-bottom: 24px;

		+.sub-text
		{
			text-align: center;
			font-weight: 400;
			font-family: 'Exo', sans-serif;
			font-size: 20px;
			line-height: 24px;
			color: $black;

			strong 
			{
				color: $pink;
			}
		}
	}
}