// fonts
$body-font: 'Nunito';
// components
$header-height: 64px;
$footer-height: 160px;
// fonts
$heading-font: 'Exo', sans-serif;
$body-font: 'Nunino', sans-serif;
// margins and padding
$side-margin-mobile: 24px;
$side-margin-desktop: 32px;