body#all-tags
{
	.tag-block-list
	{
		>.row
		{
			border-top: 2px solid $pink;
			border-left: 2px solid $pink;
		}

		.tag-block
		{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 200px;
			position: relative;
			// margin: 0px 1px;
			// margin-bottom: 2px;
			border-right: 2px solid $pink;
			border-bottom: 2px solid $pink;
			padding: 16px;
			overflow: hidden;
			background: $white;
			transition: all 0.16s ease-in-out;

			&:hover
			{
				background: $pink;

				span 
				{
					&.name
					{
						color: $white;
					}

					&.count
					{
						background: $white;
						color: $pink;
					}
				}
			}

			span 
			{
				display: block;
				position: relative;
				z-index: 2;
				font-family: 'Exo', sans-serif;
				font-weight: 700;
				transition: all 0.16s ease-in-out;

				&.name
				{
					font-size: 24px;
					line-height: 28px;
					color: $pink;
				}

				&.count
				{
					position: absolute;
					bottom: 0px;
					right: 0px;
					padding: 8px 16px;
					padding-top: 12px;
					background: $pink;
					font-size: 18px;
					line-height: 20px;
					color: $white;
				}
			}
		}
	}
}