#app.auth
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	.navbar
	{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 80px;
		background: $theme-color-1;

		.container
		{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: relative;

			.navbar-brand
			{
				display: inline-block;
				position: absolute;
				left: 16px;
				border-radius: 4px;
				padding: 8px 16px;
				padding-top: 12px;
				background: $white;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
				font-weight: 900;
				font-size: 40px;
				line-height: 40px;
				color: $theme-color-1;
			}

			.navbar-toggler
			{
				display: none;
			}

			#navbarSupportedContent
			{
				display: inline-block;
				position: relative;
				top: 2px;

				ul 
				{
					margin: 0px;
					font-size: 0px;

					li 
					{
						display: inline-block;
						margin: 0px 16px;

						a 
						{
							border-radius: 2px;
							padding: 4px 12px;
							padding-top: 8px;
							background: transparent;
							text-transform: uppercase;
							font-family: 'Exo', sans-serif;
							font-size: 24px;
							line-height: normal;
							color: $white;
							transition: all 0.24s ease;

							&:hover
							{
								background: $white;
								color: $theme-color-1;
							}
						}
					}
				}
			}
		}
	}

	main
	{
		.card
		{
			overflow: visible;
			border: none;

			.card-header
			{
				margin-bottom: 24px;
				text-transform: uppercase;
				text-align: center;
				font-family: 'Exo', sans-serif;
				font-size: 40px;
				line-height: normal;
				font-weight: 800;
				color: $theme-color-1;
			}

			form 
			{
				width: 320px;
				margin: auto;
			}
		}
	}

	.alert
	{
		&.alert-success
		{
			margin-bottom: 24px;
			text-align: center;
			font-family: 'Nunito', sans-serif;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			color: $success-color;
		}
	}
}