button
{
	height: 40px;
	border: 2px solid $theme-color-1;
	border-radius: 500px;
	padding: 0px 8px;
	background: $white;
	font-family: 'Exo', sans-serif;
	font-size: 24px;
	line-height: normal;
	font-weight: 700;
	color: $theme-color-1;
	cursor: pointer;
	transition: all 0.24s ease;

	&:focus
	{
		outline: none;
	}

	&:hover,
	&:focus
	{
		background: $theme-color-1;
		color: $white;
	}

	&.upload
	{
		display: block;
		width: 100%;
		margin-top: 8px;
		border-color: $green;
		background: transparent;
		color: $green;

		&:hover
		{
			background: $green;
			color: $white;
		}
	}

	&[type="submit"]
	{
	}
}