.comments
{
	max-width: 800px;
	margin: 40px auto;
	padding-bottom: 80px;

	.comment-list
	{
		max-height: 400px;
		overflow: scroll;

		.comment-block
		{
			max-width: 480px;
			margin-bottom: 16px;

			>.row
			{
				margin: 0px;
			}

			&.uploader
			{
				margin-left: auto;
				text-align: right;

				.author-pic
				{
					margin-left: 16px;
					margin-right: 0px;
				}

				.comment
				{
					background: $pink;

					span
					{
						color: $white;
					}
				}
			}

			.author-pic
			{
				width: 56px;
				height: 56px;
				margin-right: 16px;
				border: 4px solid $pink;
				border-radius: 50%;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}

			.comment
			{
				display: inline-block;
				border-radius: 8px;
				padding: 8px 16px;
				background: $off-white;

				span 
				{
					font-family: 'Nunito', sans-serif;
					font-size: 16px;
					line-height: 20px;
					color: $black;
				}
			}
		}
	}

	.comment-input
	{
		form
		{
			position: relative;

			textarea
			{
				border-width: 4px;
				max-width: unset;
				height: 72px;
				border-color: rgba($pink, 0.64);
				border-top-right-radius: 80px;
				border-bottom-right-radius: 80px;
				border-radius: 80px;
				padding: 8px 0px;
				padding-left: 32px;
				color: rgba($pink, 0.64);

				&:focus
				{
					border-color: $pink;
					color: $pink;
				}
			}

			button[type="submit"]
			{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 56px;
				height: 56px;
				position: absolute;
				top: -24px;
				right: 8px;
				border-radius: 50%;
				padding-right: 10px;
				font-size: 24px;
				background: $pink;
				color: $white;
				opacity: 0.64;
				transition: all 0.24s ease;

				&:hover
				{
					font-size: 28px;
					opacity: 1;
				}
			}
		}
	}
}