.content-block
{
	h3
	{
		@include breakpoint(large up)
		{
			padding-bottom: 32px;
			font-size: 40px;
			line-height: 40px;
		}
	}

	&.images
	{
		// border-top: none;
		// border-bottom: 8px solid $theme-color-1;
		// border-top-left-radius: 2px;
		// border-top-right-radius: 2px;
		// border-bottom-left-radius: 4px;
		// border-bottom-right-radius: 4px;
		padding-top: 32px;

		@include breakpoint(large up)
		{
			margin-bottom: 40px;
		}

		.image-grid
		{
			// border-left: 2px solid $pink;
			// border-right: 2px solid $pink;

			>.row
			{
				// margin: -4px;
				margin-bottom: 0px;
			}
		}
	}

	&.banner-slideshow
	{
		position: relative;
		height: 320px;
		// overflow: hidden;

		@include breakpoint(large up)
		{
			height: 560px;
			margin-top: 64px;
			margin-bottom: 40px;
			padding-right: 80px;
			padding-bottom: 40px;
			padding-left: 80px;
		}

		.slick-arrow
		{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			height: 100%;
			position: absolute;
			top: 0px;
			background: $theme-color-1;
			opacity: 0.4;
			color: transparent;

			&:focus
			{
				outline: none;
			}

			&:hover
			{
				opacity: 1;
			}

			.arrow-inner
			{
				display: block;
				width: 48px;
				height: 48px;
				position: relative;
				z-index: 2;
				border-top: 16px solid $white;
				border-right: 16px solid $white;
				transform: rotate(-135deg);
			}

			@include breakpoint(medium down)
			{
				display: none;
			}

			&.slick-prev
			{
				left: 0px;
				border-top-left-radius: 16px;
				border-bottom-left-radius: 16px;

				.arrow-inner
				{
					left: 10px;
				}
			}

			&.slick-next
			{
				right: 0px;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;

				.arrow-inner
				{
					transform: rotate(45deg);
					right: 10px;
				}
			}
		}

		.slideshow-image
		{
			@extend .extendable-background-image-centered;

			height: 320px;
			position: relative;

			@include breakpoint(large up)
			{
				height: 560px;
			}

			&::after
			{
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background: $black;
				opacity: 0.0;
			}

			&.placeholder
			{
				background-image: url('https://pictures.hentai-foundry.com/k/kajinman/650000/kajinman-650000-K_DA_So_keep_you_eyes_on_us_now__blacklight.jpg');
			}

			.image-text
			{
				width: 100%;
				position: absolute;
				bottom: 0px;
				z-index: 2;
				padding: 16px;
				background: $white;
				text-align: center;

				span 
				{
					display: block;
					font-family: 'Exo', sans-serif;
				}

				.title
				{
					width: 100%;
					max-height: 28px;
					overflow: hidden;
					font-size: 24px;
					font-weight: 900;
					line-height: 28px;
					color: $theme-color-1;		
				}

				.author
				{
					font-size: 20px;
					line-height: 24px;
					color: $black;
				}
			}
		}
	}

	&.featured-artists
	{
		@include breakpoint(large up)
		{
			padding: 80px 0px;
		}

		.artist
		{
			text-align: center;

			.image
			{
				@extend .extendable-background-image-centered;
				display: block;
				width: 80px;
				height: 80px;
				margin: auto;
				margin-bottom: 8px;
				border: 4px solid $theme-color-1;
				border-radius: 50%;

				@include breakpoint(large up)
				{
					width: 160px;
					height: 160px;
					margin-bottom: 24px;
					border-width: 8px;
				}

				&.placeholder
				{
					@extend .extendable-background-image-centered;
					background-image: url('https://avatars.hentai-foundry.com/21188.png');
				}
			}

			.name
			{
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				color: $black;

				@include breakpoint(large up)
				{
					font-size: 24px;
				}
			}
		}
	}

	&.welcome-container
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		background: $error-color;

		&::before
		{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			opacity: 0.4;
			filter: grayscale(100%);
		}

		>.inner
		{
			position: relative;
			z-index: 2;

			.message
			{
				display: block;
				max-width: 800px;
				position: relative;
				z-index: 2;
				border: 4px solid $theme-color-1;
				border-radius: 8px;
				padding: 40px 32px;
				padding-top: 42px;
				background: rgba($white, 0.8);
				line-height: 40px;
				text-transform: none;
				color: rgba($theme-color-1, 0.8);

				.name
				{
					text-transform: uppercase;
					color: $theme-color-1;
				}
			}

			ul.dialogue-options
			{
				max-width: 800px;
				margin: auto;
				margin-top: 40px;
				list-style: none;

				li 
				{
					margin-bottom: 16px;

					a 
					{
						display: block;
						border-radius: 8px;
						padding: 8px 16px;
						background: $theme-color-1;
						font-weight: bold;
						font-family: 'Nunito', sans-serif;
						font-size: 24px;
						line-height: 28px;
						color: $white;
						opacity: 0.64;
						transition: all 0.16s ease;

						&:hover
						{
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&.welcome-message
	{
		text-align: center;

		h3 
		{
			margin-top: 24px;
		}

		p 
		{
			font-family: 'Nunito', sans-serif;
			font-weight: 400;
			color: $black;

			strong,
			a
			{
				font-family: 'Exo', sans-serif;
				font-weight: 700;
				color: $pink;
			}

			a 
			{
				text-decoration: underline;
			}
		}
	}
}