.easy-edit-container
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 160px;
	position: relative;
	z-index: 6;
	border: 8px solid $theme-color-1;
	border-radius: 50%;
	// background-image: url('/storage/profile_pictures/placeholder.png');
	background-color: $white;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	>a >i 
	{
		position: relative;
		left: 4px;
		font-size: 56px;
		color: $pink;
		opacity: 0.4;
		transition: all 0.24s ease;

		&:hover
		{
			opacity: 1;
		}
	}

	.easy-edit-button
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		position: absolute;
		top: 0px;
		right: -16px;
		z-index: 7;
		padding: 0px;
		padding-left: 2px;

		.close-icon
		{
			display: none;
		}

		&.active
		{
			.edit-icon
			{
				display: none;
			}

			.close-icon
			{
				display: block;
			}

			+form
			{
				width: 800px;
				// padding: 12px 40px;
				padding-left: 40px !important;
				padding-right: 80px !important;
				transition: width 0.8s linear, padding 0s linear 0s;
				z-index: 5;

				input[type="file"],
				input[type="text"],
				button[type="submit"]
				{
					opacity: 1;
				}
			}
		}

		+form 
		{
			display: flex;
			align-items: center;
			width: 0px;
			max-width: 400px;
			height: 48px;
			position: absolute;
			top: 0px;
			left: calc(100% - 8px);
			border-top-right-radius: 80px;
			border-bottom-right-radius: 80px;
			padding: 0px;
			background: $theme-color-1;
			overflow: hidden;
			transition: width 0.8s linear, padding 0s linear 0.78s;

			input[type="file"],
			input[type="text"],
			button[type="submit"]
			{
				opacity: 0;
			}

			input[type="file"],
			input[type="text"]
			{
				margin-bottom: 0px !important;
				font-family: 'Exo', sans-serif;
				color: $white;
			}

			input[type="text"]
			{
				color: $pink;
			}

			button[type="submit"]
			{
				width: 40px;
				position: absolute;
				top: 4px;
				right: 4px;
				margin-top: 0px;
				padding-top: 4px;

			}
		}
	}
}