footer
{
	width: 100%;
	height: $footer-height;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	padding: 16px 8px;
	background: $white;
	text-align: center;

	.copy-1
	{
		text-transform: uppercase;
		font-family: $heading-font, sans-serif;
		font-weight: 900;
		font-size: 16px;
		line-height: 20px; 
		color: $theme-color-1;
	}

	.copy-2
	{
		font-family: $body-font;
		font-size: 12px;
		line-height: 16px;
		color: $black;
	}
}