.form-page-container
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding-bottom: 100px;
}

form
{
	@include breakpoint(medium down)
	{
		max-width: 320px;
		margin: auto;
	}

	&#update-profile-picture
	{
	}

	&#post-feedback
	{
		textarea
		{
			display: block;
			margin: auto;
			margin-top: 40px;
		}

		button[type="submit"]
		{
			width: 240px;
			margin: auto;
			margin-top: 24px;
		}
	}

	label
	{
		padding-left: 16px;
		font-weight: bold;
		font-family: $heading-font;
		font-size: 16px;
		line-height: 20px;
		color: $theme-color-1;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"]
	{
		border: 2px solid $theme-color-1;
		font-family: 'Exo', sans-serif;
		color: $pink;
	}

	textarea
	{
		width: 100%;
		max-width: 800px;
		margin-top: 16px;
		border: 2px solid $pink;
		border-radius: 8px;
		resize: none;
		font-family: 'Exo', sans-serif;	
		color: $pink;

		&:focus
		{
			border: 2px solid $pink;
			box-shadow: none;
		}
	}

	button[type="submit"]
	{
		@extend button;
		display: block;
		width: 100%;
		margin: auto;
		margin-top: 32px;

		&:focus
		{
			outline: none;
		}

		+a 
		{
			display: block;
			margin-top: 16px;
			text-decoration: underline;
			color: $theme-color-1;
			opacity: 1;
		}
	}

	.invalid-feedback
	{
		display: block;
		position: relative;
		bottom: 4px;
		margin-bottom: 16px;
		padding-left: 16px;
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
		line-height: 16px;
		color: $error-color;
	}
}