header
{
	@keyframes init-header
	{
		from
		{
			transform: scale(0);
			opacity: 0;
		}
		to 
		{
			transform: scale(1);
			opacity: 1;
		}
	}

	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	width: auto;
	height: $header-height;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 200;
	padding: 0px 8px;
	transform-origin: 50% 50%;
	opacity: 0;
	transform: scale(0);
	animation: init-header 0.64s ease 0.24s normal forwards;

	.logo-container
	{
		cursor: pointer;

		h2 
		{
			position: relative;
			border: 4px solid $theme-color-1;
			border-radius: 4px;
			padding: 2px 4px;
			padding-top: 4px;
			background: $white;

			&::after
			{
				content: "Beta";
				position: absolute;
				z-index: 2;
				right: -16px;
				bottom: -16px;
				border: 2px solid $green;
				border-radius: 4px;
				padding: 2px 4px;
				padding-top: 4px;
				background: $green;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				line-height: 16px;
				color: $white;
				transform: rotate(-24deg);
			}
		}
	}
}