.image-tile-container
{
	position: relative;
	padding: 1px;
	overflow: hidden;

	&:hover
	{
		.image-text
		{
			opacity: 1;
		}
	}

	.image-text
	{
		position: absolute;
		width: calc(100% - 2px);
		height: calc(100% - 1px);
		top: 0px;
		left: 1px;
		padding: 24px 12px;
		background: rgba($black, 0.96);
		opacity: 0;
		transition: all 0.24s ease;
		
		span
		{
			display: block;
			font-family: 'Exo', sans-serif;

			&.title
			{
				margin-bottom: 4px;
				font-size: 24px;
				font-weight: 900;
				color: $pink;
			}

			&.author
			{
				margin-bottom: 24px;
				font-size: 16px;
				font-weight: 700;
				color: $white;
			}
		}

		p 
		{
			font-family: 'Nunito', sans-serif;
			font-size: 16px;
			line-height: 20px;
			color: $white;
		}
	}
}

.image-tile
{
	@extend .extendable-background-image-centered;
	height: 160px;

	@include breakpoint(large up)
	{
		height: 320px;
	}

	&.placeholder
	{
		background-image: url('https://pictures.hentai-foundry.com/s/SanePerson/649792/SanePerson-649792-Black_Kitty.jpg');
	}
}