.image-grid
{
	position: relative;
	padding: 1px;
	overflow: hidden;

	&::after
	{
		// content: "";
		display: block;
		width: 100%;
		height: 0px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		box-shadow: 0px 0px 50px 100px rgba($white, 1);
	}

	>h3
	{
		border-bottom: 4px solid $theme-color-1;
	}

	>.row
	{
		margin-left: 0px;
		margin-right: 0px;
	}

	button.more
	{
		width: 100%;
		border-radius: 0px;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		background: $pink;
		color: $white;
		opacity: 0.4;
		transition: opacity 0.24s ease-in-out;

		&:hover
		{
			opacity: 1;
		}
	}
}