input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]
{
	border: 2px solid $theme-color-1;
	border-radius: 80px;
	padding: 0px 16px;
	padding-top: 2px;
	font-family: $heading-font;
	color: $theme-color-1;
	transition: all 0.24s ease;

	&:focus
	{
		outline: none;
		box-shadow: none;
		border: 2px solid $theme-color-1;
		// transform: scale(1.05);
	}

	&::placeholder
	{
		font-weight: 600;
		color: rgba($theme-color-1, 0.4);
	}
}

input[type="checkbox"]
{
	width: 16px;
	height: 16px;
	margin: 0px;
	vertical-align: text-bottom;

	+label
	{
		margin-left: 0px;
		padding-left: 8px;
	}
}