.link
{
	font-family: $heading-font;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: $theme-color-1;

	&.block
	{
		display: block;
		text-align: center;
	}

	&.small
	{
		font-size: 12px;
		line-height: 16px;
		font-family: $body-font;
		color: $black;
	}
}