.menu-button
{
	display: flex;
	width: 64px;
	height: 64px;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 8px;
	right: 8px;
	z-index: 100;
	border: 4px solid $theme-color-1;
	border-radius: 4px;
	padding: 4px 8px;
	background: $white;
	transition: all 0.24s ease;
	cursor: pointer;

	&.active
	{
		border-radius: 50%;

		>.inner
		{
			div 
			{
				&:nth-child(1)
				{
					top: 12px;
					bottom: initial;
					transform: rotate(45deg);
				}

				&:nth-child(2)
				{
					width: 0px;
				}

				&:nth-child(3)
				{
					top: initial;
					bottom: 12px;
					transform: rotate(-45deg);
				}
			}
		}
	}

	>.inner
	{
		width: 100%;

		div 
		{
			display: flex;
			width: 100%;
			height: 8px;
			position: relative;
			top: 0px;
			bottom: 0px;
			margin: 4px auto;
			border-radius: 0px;
			background: $theme-color-1;
			transform: rotate(0deg);
			transition: all 0.24s ease;
		}
	}
}