.page-content
{
	// padding: 0px $side-margin-mobile;

	// @include breakpoint(large up)
	// {
	// 	padding: 0px $side-margin-desktop;
	// }
	min-height: 100vh;
	background: $white;
}

body.site .page-content
{
	margin-bottom: $footer-height;
}