.post-main
{
	@keyframes init-image
	{
		from
		{
			top: 40px;
			opacity: 0;
		}
		to 
		{
			top: 0px;
			opacity: 1;
		}
	}

	position: relative;
	top: 40px;
	background: rgba($black, 1);
	opacity: 0;
	animation: init-image 0.8s ease-out 0.4s normal forwards;

	&.landscape
	{
		&.limited-width
		{
			img 
			{
				width: auto;
				height: calc(100vh - 118px);
			}
		}

		&.short-width
		{
			img 
			{
				width: auto;
				height: calc(100vh - 118px);
			}
		}

		img 
		{
			width: 100%;
			height: auto;
		}
	}

	&.portrait
	{
		img 
		{
			width: auto;
			height: calc(100vh - 118px);
		}
	}

	img
	{
		display: block;
		width: auto;
		height: auto;
		margin: auto;
	}
}

.post-bar
{
	// border-bottom: 2px solid $pink;
	padding: 24px 0px;
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	color: $pink;
	box-shadow: 0px -32px 24px 24px rgba($black, 0.24);

	.views
	{
		text-align: center;
		cursor: default;

		&:hover
		{
			span:first-child
			{
				opacity: 1;
			}
		}

		span 
		{
			line-height: normal;

			&:nth-child(1)
			{
				margin-right: 16px;
				text-transform: uppercase;
				font-size: 20px;
				opacity: 0.56;
				transition: all 0.24s ease;
			}

			&:nth-child(2)
			{
				font-size: 32px;
			}
		}
	}

	.title-container
	{
		text-align: center;

		span
		{
			display: block;

			&.title
			{
				font-size: 40px;
				line-height: 48px;
			}

			&.author
			{
				font-size: 24px;
				opacity: 0.56;
				transition: all 0.24s ease;
				color: $pink;

				&:hover
				{
					opacity: 1;
				}
			}
		}
	}

	.likes-container,
	.flags-container
	{
		display: inline-block;
		text-align: center;


		button.like,
		button.flag
		{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			margin: auto;
			padding-top: 2px;
			padding-right: 16px;
			padding-left: 40px;

			&:hover,
			&.active
			{
				background: $pink;
				color: $white;

				.icon
				{
					i 
					{
						color: $white;

						&:first-child
						{
							opacity: 0;
						}

						&:last-child
						{
							opacity: 1;
						}
					}
				}
			}

			.icon
			{
				width: 24px;
				height: 24px;
				position: absolute;
				left: 8px;

				i
				{
					position: absolute;
					left: 0px;
					bottom: 0px;
					transition: opacity 0.24s ease;

					&:first-child
					{
						opacity: 1;
					}

					&:last-child
					{
						opacity: 0;
					}
				}
			}
		}

		button.flag
		{
			margin-left: 16px;
			padding-left: 48px;

			.icon
			{
				left: 12px;
			}
		}
	}
}

.post-lower
{
	padding: 40px 0px;

	.description
	{
		font-family: 'Nunito', sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: $pink;

		p
		{
			display: inline-block;

			&::before,
			&::after
			{
				font-family: 'Exo', 'Nunito', sans-serif;
				font-size: 24px;
				content: '"';
			}
		}
	}

	.tags
	{
		margin-top: 24px;

		&::before
		{
			content: "Tags:";
			display: block;
			margin-bottom: 16px;
			font-family: 'Exo', 'Nunito', sans-serif;
			font-size: 20px;
			line-height: 24px;
			color: $pink;
		}

		.tag 
		{
			padding: 8px 12px;
			background: $pink;
			border-radius: 80px;
			font-family: 'Exo', sans-serif;
			font-size: 16px;
			color: $white;
		}
	}
}