.side-menu
{
	width: 0px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	padding: 0px;
	background: $white;
	overflow: hidden;
	transition: width 0.4s ease;

	@include breakpoint(large up)
	{
		max-width: 600px;
	}

	&::before
	{
		content: "";
		display: none;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 2;
		background: rgba($black, 0.8);
	}

	&.active
	{
		width: 100vw;
		transition: width 1.6s ease;

		&::before
		{
			display: block;
		}

		>.inner
		{
			.greeting
			{
				transition: opacity 0.24s ease 0.24s;
				opacity: 1;
			}

			ul 
			{
				top: 0px;
				opacity: 1;
				transition: opacity 1.6s ease 0.16s, top 0.4s ease 0.4s;

				@include breakpoint(large up)
				{
					transition: opacity 1.6 ease 0s, top 0.4s ease 0.08s;
				}
			}
		}
	}

	>.inner
	{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 4;
		padding: 8px;
		padding-top: 80px;
		text-align: center;
		background: $white;
		overflow: scroll;

		.greeting
		{
			position: absolute;
			top: 16px;
			right: 24px;
			font-family: 'Exo', sans-serif;
			font-weight: 700;
			font-size: 24px;
			line-height: normal;
			color: $pink;
			opacity: 0;

			strong
			{
				font-weight: 900;
			}
		}

		ul 
		{
			position: relative;
			top: 40px;
			margin: 0px;
			list-style: none;
			opacity: 0;

			li 
			{
				a 
				{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					height: 80px;
					margin-bottom: 4px;
					border-radius: 4px;
					padding-top: 4px;
					padding-left: 14px;
					background: $theme-color-1;
					text-transform: uppercase;
					font-family: $heading-font;
					font-size: 32px;
					line-height: 32px;
					color: $white;

					@include breakpoint(large up)
					{
						border: 2px solid $theme-color-1;
						background: $white;
						color: $theme-color-1;
						transition: all 0.16s ease;
						opacity: 0.64;
					}

					&:hover
					{
						@include breakpoint(large up)
						{
							background: $theme-color-1;
							color: $white;
							opacity: 1;
						}
					}
				}

				.search-container
				{
					position: relative;

					input.search
					{

					}

					i 
					{
						position: absolute;
						top: 8px;
						right: 10px;
						font-size: 24px;
						line-height: 24px;
						color: $theme-color-1;
						transform: scaleX(-1);
					}
				}
			}
		}
	}
}