.slideshow
{
	position: relative;

	.slick-dots
	{
		display: block;
		width: 100%;
		position: absolute;
		top: calc(100% + 24px);
		left: 0px;
		margin: 0px;
		padding: 0px 8px;
		list-style: none;
		text-align: center;
		color: transparent;

		li 
		{
			display: inline-block;
			margin: 0px 4px;

			&.slick-active
			{
				button 
				{
					background: $theme-color-1;
					opacity: 1;
				}
			}

			button
			{
				width: 16px;
				height: 16px;
				border: 2px solid $theme-color-1;
				border-radius: 50%;
				padding: 0px;
				color: transparent;
				background: transparent;
				opacity: 0.5;
			}
		}
	}
}