.tag-list
{
	margin-top: 16px;

	.tag-item
	{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: 40px;
		position: relative;
		z-index: 2;
		margin-right: 8px;
		margin-bottom: 8px;
		border: 2px solid $pink;
		border-radius: 80px;
		padding: 0px 16px;
		background: $white;
		cursor: pointer;

		&.active
		{
			background: $pink;

			.icon-container
			{
				border-color: $white;

				i 
				{
					color: $pink;
				}
			}

			label
			{
				color: $white;
			}
		}

		&.custom
		{
			input[type="text"]
			{
				width: 160px;
				height: 24px;
				position: relative;
				top: 8px;
				left: 8px;
				margin-left: 16px;
				font-size: 14px;
				padding-bottom: 2px;
			}
		}

		.icon-container
		{
			width: 24px;
			height: 24px;
			position: absolute;
			top: 6px;
			left: 6px;
			border: 2px solid $pink;
			border-radius: 50%;
			background: $white;
			overflow: hidden;

			i 
			{
				position: relative;
				top: 2px;
				left: 0px;
				font-size: 16px;
				color: $white;
			}
		}

		input[type="checkbox"]
		{
			position: relative;
			z-index: -1;
			opacity: 0;
		}

		label
		{
			position: relative;
			top: 1px;
			font-size: 16px;
		}
	}
}