.upload-post-overlay
{
	display: none;
	align-items: flex-start;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 150;
	// padding-top: 160px;
	background: rgba($white, 0.96);
	overflow: hidden;

	&::before,
	&::after
	{
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 2;
		box-shadow: 0px 0px 80px 80px $white;
	}

	&::before
	{
		top: 0px;
		bottom: initial;
	}

	&.active
	{
		display: flex;
	}

	.close-overlay-button
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		position: absolute;
		top: 24px;
		right: 40px;
		z-index: 3;
		cursor: pointer;

		.line
		{
			content: "";
			display: block;
			width: 12px;
			height: 48px;
			position: absolute;
			background: $pink;
			cursor: pointer;
			
			&:first-child
			{
				transform: rotate(-45deg);
			}

			&:last-child
			{
				transform: rotate(45deg);
			}
		}
	}

	>.inner
	{
		width: 100%;
		height: 100%;
		padding: 160px 0px;
		overflow: scroll;

		h2 
		{
			margin-bottom: 40px;
		}

		span.rules
		{
			display: block;
			margin-bottom: 40px;
			text-align: center;
			font-family: 'Nunito', sans-serif;
			font-size: 18px;
			line-height: 24px;
			color: $black;

			span.strikethrough
			{
				text-decoration: line-through;
			}

			strong 
			{
				font-weight: 700;
				font-family: 'Exo', sans-serif;
				color: $pink;
			}
		}

		form 
		{
			.form-row
			{
				padding: 16px 0px;
				margin-bottom: 16px;
				text-align: center;

				.number
				{
					display: inline-block;
					font-family: 'Exo', sans-serif;
					font-size: 40px;
					color: $pink;
				}

				label
				{
					display: inline-block;
				}

				input[type="file"]
				{
					display: block;
					width: auto;
					margin: auto;
					margin-top: 16px;
				}

				input[type="text"]
				{
					display: block;
					width: 480px;
					margin: auto;
					margin-top: 16px;
				}

				textarea
				{
					margin: auto;
				}
			}

			button[type="submit"]
			{
				width: 240px;
				margin: auto;
				margin-top: 32px;
			}
		}
	}
}