body#user-page
{
	.confirm-delete-post-overlay
	{
		display: none;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 8;
		background: rgba($black, 0.8);

		&.active
		{
			display: flex;
		}

		>.inner
		{
			width: 100%;
			max-width: 400px;
			border: 4px solid $pink;
			border-radius: 8px;
			padding: 24px;
			background: $white;

			span
			{
				display: block;
				margin-bottom: 24px;
				text-align: center;
				font-family: 'Exo', sans-serif;
				font-weight: 700;
				font-size: 20px;
				line-height: 24px;
				color: $pink;
			}

			.buttons
			{
				text-align: center;

				.button
				{
					width: 100%;
					max-width: 80px;
					margin: 0px 16px;
					border: 2px solid $pink;
					border-radius: 80px;
					padding: 12px;
					padding-top: 14px;
					background: $white;
					text-transform: uppercase;
					text-align: center;
					font-family: 'Exo', sans-serif;
					font-weight: 900;
					font-size: 16px;
					line-height: 16px;
					color: $pink;
					transition: all 0.24s ease;

					&:focus
					{
						outline: none;
					}

					&:hover
					{
						background: $pink;
						color: $white;
					}
				}
			}
		}
	}

	.page-content
	{
		.profile-header
		{
			padding-top: 80px;

			.total-likes
			{
				margin-bottom: 32px;
				border: 4px solid $pink;
				border-radius: 40px;
				padding: 8px 16px;
				padding-top: 10px;
				// text-align: center;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				font-weight: bold;
				color: $pink;

				span 
				{
					margin-left: 8px;
				}
			}

			.profile-picture
			{
				width: 160px;
				height: 160px;

				button.edit-profile-picture
				{
					width: 48px;
					height: 48px;
				}
			}

			.name
			{
				@keyframes animate-name
				{
					0%
					{
						width: 0px;
						bottom: 80px;
						margin: auto;
						margin-top: 0px;
						color: transparent;
					}
					50%
					{
						width: 0px;
						bottom: 0px;
						margin: auto;
						margin-top: 24px;
						color: transparent;
					}
					100%
					{
						width: 100%;
						bottom: 0px;
						margin: auto;
						margin-top: 24px;
						color: $white;
					}
				}

				display: block;
				width: 0px;
				max-width: 160px;
				position: relative;
				bottom: 80px;
				margin: auto;
				border-radius: 4px;
				padding: 8px 16px;
				padding-top: 12px;
				background: $theme-color-1;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				line-height: 22px;
				text-align: center;
				text-transform: uppercase;
				word-break: break-word;
				color: transparent;
				cursor: default;
				animation: animate-name 1.6s ease 0.64s normal forwards;

				&::before
				{
					content: "";
					display: block;
					width: 8px;
					height: 24px;
					position: absolute;
					top: -24px;
					left: calc(50% - 4px);
					margin: auto;
					background: $theme-color-1;
				}
			}

			.social-links
			{
				padding-top: 32px;

				.social-icon
				{
					margin-top: 24px;
				}
			}

			.profile-nav,
			.profile-nav-content
			{
				@include breakpoint(large up)
				{
					margin-left: 40px;
				}
			}

			.profile-nav
			{
				position: relative;
				z-index: 5;
				border-bottom: 4px solid $pink;

				a 
				{
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					border-top-left-radius: 16px;
					border-top-right-radius: 16px;
					padding: 16px;
					padding-top: 18px;
					text-transform: uppercase;
					text-align: center;
					font-family: 'Exo', sans-serif;
					font-size: 20px;
					font-weight: bold;
					color: $pink;
					opacity: 0.4;
					transition: all 0.24s ease-in-out;

					&:hover
					{
						opacity: 1;
					}

					&.active
					{
						background: $pink;
						color: $white;
						opacity: 1;

						&::after
						{
							height: 32px;
							transition: height 0.4s ease;
						}
					}
				}
			}

			.profile-nav-content
			{
				@keyframes init-profile-nav-content
				{
					from
					{
						opacity: 0;
					}
					to 
					{
						opacity: 1;
					}
				}
				
				position: relative;
				// margin-top: 32px;
				opacity: 0;
				animation: init-profile-nav-content 0.4s ease 0.4s normal forwards;

				.content-tab
				{
					position: absolute;
					top: 40px;
					margin: 0px -2px;
					margin-bottom: 0px;
					// border-top: 4px solid $pink;
					padding-top: 0px;
					opacity: 0;
					transition: none;

					&.active
					{
						display: block;
						position: relative;
						top: 0px;
						z-index: 3;
						opacity: 1;
						transition: all 0.8s cubic-bezier(0.27, 0.88, 0.63, 0.88);
					}

					.content-block.images
					{
						padding-top: 0px;

						.image-grid
						{
							margin-top: -1px;
							padding-top: 0px;

							.image-tile-container
							{
								&:hover
								{
									.delete-post-button
									{
										display: flex;
									}
								}

								.delete-post-button
								{
									display: none;
									align-items: center;
									justify-content: center;
									width: 40px;
									height: 40px;
									position: absolute;
									top: 16px;
									right: 16px;
									z-index: 4;
									border: 4px solid $pink;
									border-radius: 50%;
									background: $white;
									cursor: pointer;

									.line
									{
										width: 4px;
										height: 24px;
										position: absolute;
										background: $pink;

										&:first-child
										{
											transform: rotate(-45deg);
										}

										&:last-child
										{
											transform: rotate(45deg);
										}
									}
								}

								.title,
								.author
								{
									padding-right: 56px;
									word-break: break-word;
								}

								.title
								{
									line-height: normal;
								}
							}
						}
					}

					.message
					{
						display: block;
						margin-top: 24px;
						font-family: 'Exo', sans-serif;
						font-size: 24px;
						line-height: normal;
						color: $pink;
					}

					a.button.report
					{
						margin-top: 24px;
						border: 2px solid $error-color;
						border-radius: 40px;
						padding: 8px 16px;
						background: $white;
						font-family: 'Exo', sans-serif;
						font-weight: 900;
						font-size: 20px;
						line-height: normal;
						color: $error-color;

						&:hover
						{
							background: $error-color;
							color: $white;
						}
					}

					p
					{
						font-family: 'Nunito', sans-serif;
						font-size: 18px;
						line-height: 22px;
						color: $pink;

						&.bio
						{
							margin: 40px 0px;
						}
					}
				}
			}
		}
	}
}