.extendable-heading
{
	text-align: center;
	text-transform: uppercase;
	font-family: $heading-font;
	font-weight: 900;
	color: $theme-color-1;
}

.extendable-heading-small
{
	@extend .extendable-heading;
	margin-bottom: -2px;
	padding: 16px 8px;
	font-size: 24px;
	line-height: 20px;
	letter-spacing: 0.8px;
}

.extendable-heading-medium
{
	@extend .extendable-heading;
	margin-bottom: 0px;
	font-size: 32px;	
	line-height: 26px;
}

.extendable-heading-large
{
	@extend .extendable-heading;
	font-size: 4rem;
	line-height: 4rem;
}
